[Unit]
Description=sni-relay TCP proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/sni-relay/sni-relay -config /etc/sni-relay/config.json
Restart=always
RestartSec=5
LimitNOFILE=65535
User=root
WorkingDirectory=/opt/sni-relay

[Install]
WantedBy=multi-user.target
